.c-topbar {
  position: fixed;
  height: 20vh;
  width: 100vw;
  z-index: 10; }

.c-topbar-filters {
  background-color: #314159;
  height: 15vh;
  padding-left: 2vw;
  padding-right: 2vw; }

.c-topbar-filter-tags {
  background-color: white;
  height: 8vh; }

.topbar-smart-input {
  margin-top: 2vh; }
