@import '../variables.scss';

.rdrDefinedRangesWrapper {
    display: none;
}

.rdrDateDisplayWrapper {
    display: none;
}

.c-date-range-input {
    display: inline-block;
    width: 5vw;
    height: 5vh;
    padding: 1vh 0 1vh 1vw;
    border: none;
    height: 5vh;
    font-size: 3vh;
    border: 1px solid lightgrey;
    background-color: white;
    box-shadow: 0 .3vh 0 lightgrey;
}
