@import "../variables.scss";
@import "../mixins.scss";

.c-big-container {
    width: 80vw;
    background-color:white;
    @include box-shadow(2);
    z-index:2;
}

.c-big-container-tab {
    display: block;
    position: absolute;
    padding: 2vh 2vw;
    font-size: 2.5vh;
    font-family: Graduate;
    margin-top: -6.5vh;
    border-top: .5vh solid $primary-blue;
    z-index:0;
    background-color:white;
    border-left: .1vh solid gainsboro;
    border-right: .1vh solid gainsboro;
    @include box-shadow-sides(10);
}

