@import url('https://fonts.googleapis.com/css?family=Graduate');
@import '../variables.scss';
@import '../mixins.scss';

.c-btn {
    padding: 1vh 1vw 1vh 1vw;
    border: none;
    cursor: pointer;
    font-family: 'Graduate';
    font-weight: bold;
    outline:none;
}

.c-btn:active {
    border: none !important;
    transform: translateY(.2vw);
}

.c-btn-large {
    font-size:3.5vh;
}

.c-btn-default {
    border-bottom: .6vh solid gainsboro;
    background-color: white;
    color:#323232;
}


.c-btn-default:hover {
    background-color:whitesmoke;
}

.c-btn-danger {
    border-bottom: .6vh solid $danger-color-secondary;
    background-color: $danger-color-primary;
    color:white;
}

.c-btn-danger:hover {
    background-color: $danger-color-light;
}

.c-btn-primary {
    border-bottom: .6vh solid $color-secondary;
    background-color: $color-primary;
    color:white;
}

.c-btn-primary:hover {
    background-color: $color-light;

}

.c-btn-success {
    border-bottom: .6vh solid $success-color-secondary;
    background-color: $success-color-primary;
    color:white;
}

.c-btn-success:hover {
    background-color: $success-color-light;

}

.c-btn-success--disabled {
    @include disabled-btn($success-color-light);
}

.c-btn-primary--disabled {
    @include disabled-btn($color-light);
}

.c-btn-danger--disabled {
    @include disabled-btn($danger-color-light);
}