.c-card {
  margin: 5vh 1.5vw;
  height: 36vh;
  width: 21.4vw;
  border: gainsboro .003vh solid;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: white; }

.c-card:hover {
  z-index: 1;
  box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.2); }

.c-card-img {
  height: 30vh;
  width: 30vw;
  background-size: 30vw 30vh !important;
  border-bottom: 0.3vh solid #428fb9; }

.c-card-title {
  text-align: center;
  padding-top: 5vh;
  font-size: 2.5vh;
  font-family: Graduate; }

.c-card-subtitle {
  text-align: center;
  padding-top: 1.5vh;
  font-size: 2vh;
  font-family: Graduate; }

.c-card-category {
  font-family: Graduate;
  padding-right: 1vw;
  padding-top: 3vh;
  font-size: 2vh;
  font-weight: bold; }

.c-card-category > div {
  float: right; }
