@import "../variables.scss";
@import "../mixins.scss";

.c-container-section {
    width: 100%;
    border-top: .6vh solid $primary-blue;
    @include box-shadow(1);
}

.c-container-section-header {
    background-color: $primary-blue;
    padding: 1.3vh 1.5vw;
    color:white;
    font-size:2.3vh;
    font-family: Graduate;
}