@import "../mixins.scss";

.c-form-field {
    display: block;
    margin-top: 2.5vh;
    border: .1vh solid #dcdcdc;
    padding-top: 1.75vh;
    padding-bottom: 1.75vh;
    padding-left: 1vw;
    border-radius: 1vh;
    font-size: 2vh;
}