.c-review-container {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 3vh 2vw;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
  letter-spacing: .02vw;
  font-size: 2.2vh; }
