$primary-blue: #314159;

$danger-color-primary:#ff3232;
$danger-color-secondary: #991e1e;
$danger-color-light: #ff6f6f;

$success-color-primary:#62ad5c;
$success-color-secondary: #366033;
$success-color-light: #a0cd9d;

$color-primary:#428fb9;
$color-secondary: #21475c;
$color-light: #8dbbd5;

$simple-ease-transition: all 0.3s ease-in-out;